{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4.4
        },
        "debug": false
      }
    ]
  ],
  "plugins": [
    [
      "transform-async-to-module-method",
      {
        "module": "bluebird",
        "method": "coroutine"
      }
    ]
  ]
}
